# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'graphite/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {
            "pkg" : 'graphite-arch',
        },
        'RedHat': {
            "config": '/etc/graphite.conf',
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('graphite:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.graphite.update(os_family_map) %}

{## Merge in graphite:lookup pillar ##}
{% set graphite = salt['pillar.get'](
        'graphite',
        default=default_settings.graphite,
        merge=True
    )
%}
